.execute {

  &__form {
    margin-top: 40px;
    padding: 0 10px;

    &__block {
      display: flex;
    }

    &__input {
      margin: 0 5px 0 5px;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      background: transparent;
      color: $color-light-grey;
      border-bottom: 1px dotted $color-light-grey;
      transition: border-color 0.2s;
      

      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus {
        border-bottom: 1px dotted $color-green;
        -webkit-text-fill-color: $color-light-grey;
        box-shadow: 0 0 0px 1000px $color-dark-grey inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      &:focus {
        border-color: $color-green;
        outline: 0 none;
      }
    }

    &__submit {
      padding: 10px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid $color-light-grey;
      cursor: pointer;
      transition: border-color 0.2s;
      margin-left: 10px;
  
      &:focus {
        border-color: $color-green;
        outline: 0 none;
  
        span {
          color: $color-green;
        }
      }
  
      &:hover {
        border-color: $color-green;
  
        span {
          color: $color-green;
        }
      }
  
      span {
        color: $color-light-grey;
        font-size: 14px;
        transition: color 0.2s;
      }
    }
  }
}


//Themes
$parent: '.execute__form';

.execute {

  &__form {

    &__block {
      padding: 10px 0;

      &--constant {

        #{$parent}__input {
          &:focus {
            border-color: $color-yellow;
            outline: 0 none;
          }
        }
  
        #{$parent}__submit {
          &:focus {
            border-color: $color-yellow;
            outline: 0 none;
      
            span {
              color: $color-yellow;
            }
          }
      
          &:hover {
            border-color: $color-yellow;
      
            span {
              color: $color-yellow;
            }
          }
        }
      }
  
      &--constructor {
  
        #{$parent}__input {
          &:focus {
            border-color: $color-light-blue;
            outline: 0 none;
          }
        }
  
        #{$parent}__submit {
          &:focus {
            border-color: $color-light-blue;
            outline: 0 none;
      
            span {
              color: $color-light-blue;
            }
          }
      
          &:hover {
            border-color: $color-light-blue;
      
            span {
              color: $color-light-blue;
            }
          }
        }
      }
  
      &--default {
        #{$parent}__input {
          &:focus {
            border-color: $color-green;
            outline: 0 none;
          }
        }
  
        #{$parent}__submit {
          &:focus {
            border-color: $color-green;
            outline: 0 none;
      
            span {
              color: $color-green;
            }
          }
      
          &:hover {
            border-color: $color-green;
      
            span {
              color: $color-green;
            }
          }
        }
      }
    }
  }
}