//Colors
$color-green: #88F87B;
$color-light-green: #B4FAAC;
$color-black: #1D1D1B;
$color-light-grey: #B7B7B7;
$color-grey: #393E41;
$color-dark-grey: #232323;
$color-white: #fff;
$color-yellow: #F6AE2D;
$color-light-blue: #86BBD8;