.top-navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-dark-grey;
  padding: 20px;
  z-index: 5;

  &__form {
    flex: 1 1 auto;
  }

  &__icon {
    flex: 0 1 auto;
    padding-left: 25px;
    cursor: pointer;
  }
}


