.inner-tab-panel {
  width: 100%;
  height: 100%;
  background: $color-dark-grey;
  color: $color-green;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  display: none;
}

//State
.inner-tab-panel {

  &--active {
    display: block;
  }
}
