.settings-bar {
  width: 50%;
  background: $color-dark-grey;
  position: absolute;
  padding: 0 5px 10px 5px;
  top: -262px;
  right: 0;
  transition: top 0.3s;
  z-index: 2;

  &--active {
    top: 29px;
  }

  &__buttons {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid $color-light-grey;
      cursor: pointer;
      transition: opacity 0.7, border-color 0.2s;

      &:last-of-type {
        margin-left: 10px;
      }

      &:focus {
        border-color: $color-green;
        outline: 0 none;

        span {
          color: $color-green;
        }
      }

      &:hover {
        opacity: 0.7;
      }

      span {
        color: $color-light-grey;
        font-size: 14px;
        transition: color 0.2s;
      }
    }
  }

  &__message {
    display: table;
    margin: auto;

    p {
      color: $color-green;
    }
  }
}