.analyzer {
  padding: 10px;
  
  &__sidebar {
    max-width: 150px;
    background-color: $color-dark-grey;

    &__item {
      padding: 10px;
    }
  }

  &__tab-panel {
    background-color: $color-dark-grey;
    padding: 20px;
    min-height: 200px;
  }

  &__inner-tab {
    margin-left: 20px;
  }

  &__inner-tab-panel {
    background-color: $color-grey;
    border-top: 1px solid $color-green;
    padding: 10px;
    min-height: 200px;
  }
}